layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" size="60%" {
        pane edit=""
        pane edit=""
    }
    pane size=4 borderless=true {
        plugin location="zellij:status-bar"
    }
}
