name: Build and cache to Cachix

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v12

      - name: Setup Cachix
        uses: cachix/cachix-action@v14
        with:
          name: jossephus
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build Darwin config
        run: nix build .#darwinConfigurations.jossephus.system
